.App {
    text-align: center;
    background-color:rgb(113, 90, 182);
    }
    
    .label{
    display: block;
    font-size: larger;
    color: rgb(22, 22, 22);
    padding: 5px;
    }
    
    .input{
    font-size: larger;
    padding: 5px;
    margin: 5px;
    
    }
    .btn{
        /* margin: 10px;
        padding: 10px; */
    color: white;
    /* background-color: ; */
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 50px;
    margin: 10px auto;
    }
    
    .messages{
    display: flex;
    justify-content: center;
    }
    
    .error{
    display: block;
    background-color: red;
    color: white;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
    
    .success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }

